body {
	background-color: #ddd;
}

.container {
	width: 80%;
	margin: 0 auto;	
	background-color: #fff;
}

/*HEADER*/
.header {
	padding: 50px;
}

.header .logo {
	text-align: center;
}

.header .logo a {
	text-decoration: none;
}

.header .logo a h1 {
	font-size: 28px;
	font-weight: bold;
	color: #2f3134;
	font-family: "Tahoma", Arial, sans-serif;
}

/*MENU*/
.menu { background-color: #2f3134; }
.menu ul li { float: left; }
.clear { clear: both; }
.menu ul {
	/*CSS3*/
	justify-content: center;
	display: flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -moz-flex;
}
.menu ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	padding: 15px 20px;
	display: inline-block;
	font-family: "Tahoma", Arial, sans-serif;
	letter-spacing: 0.02em;

	transition: background-color 0.2s ease-in-out;	
}
.menu ul li a:hover {
	background-color: red;
}

/*FOOTER*/
.footer {
	background-color: #2f3134;
	text-align: center;
	padding: 30px;
	color: #fff;
}

.footer ul.social-media {
	/*CSS3 FOR CENTER*/
	justify-content: center;
	display: flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -moz-flex;

	margin-bottom: 10px;
}

.footer ul.social-media li {
	float: left;
	padding-right: 15px;
} 
.footer ul.social-media li a {
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-style: italic;
}

.footer p a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

/* CONTENT */
article {
	width: 70%;
	margin: 0 auto;
	padding: 15px 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.title { margin-bottom: 5px; }
.title h1 a {
	font-size: 22px;
	line-height: 24px;
	text-decoration: none;
	color: #2f3134;
	font-weight: bold;
	transition: color 0.2s ease-in-out;
}
.title h1 a:hover {
	color: green;
}
.info { margin-bottom: 15px; }
article span {
	font-size: 14px;
	color: #2f3134;
	font-style: italic;
}
.thumbnail { 
	float: left;
	margin: 0 15px 10px 0;
}
.thumbnail img {
	max-width: 200px;
	height: auto;
	opacity: 1;
	  filter: alpha(opacity=100);	
	  transition: all 0.2s ease-in-out;
}
.thumbnail img:hover {
	opacity: 0.6;
  	filter: alpha(opacity=60);
}
article p {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 15px;
}
.button-readmore a {
	text-decoration: none;
	color: #bc1a1a;
	font-style: italic;
}


















































































